*{
margin: 0;
padding: 0;
font-family: 'Montserrat', sans-serif;

}
h1{

    font-size: 50px;
}
.name{

    color: orange;

}
.head{

    margin-left: 10px;

}
.heading{

    width:40%;
    float:left;
    margin-left: 5%;
    padding-left: 2%;

}
.heading img{

    width: 100%;
}
.Hire{
text-decoration: none;
font-size: 19px;
border-radius: 5px;
color:black;
font-weight: 700;
background-color:orange;
padding: 10px 20px 10px 20px;


}
.top-img{

    height: 500px;
    background-image: url("top-banner.png");
    background-repeat: no-repeat;
}